* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    0deg,
    rgba(0, 126, 167, 1) 0%,
    rgba(2, 116, 153, 1) 1%,
    rgba(4, 102, 134, 1) 3%,
    rgba(2, 87, 121, 1) 9%,
    rgba(0, 65, 103, 1) 40%,
    rgba(0, 59, 96, 1) 60%,
    rgba(0, 52, 89, 1) 100%
  );
  color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fdfdfd;
}

.title-mission {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding-bottom: 0.4em;
  letter-spacing: 10px;
  text-shadow: 1px 1px 3px #000000;
}

.title-mission::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fdfdfd;
}

@media only screen and (max-width: 410px) {
  .title-mission::after {
    width: 80%;
    left: 10%;
  }
}

.logo {
  width: 70px;
  margin-left: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #00171f;
  padding: 1em;
  top: 0;
  width: 100%;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
}

.inner-nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.inner-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-nav__item {
  padding: 0 1em;
  margin: 0 1em;
  position: relative;
}

.inner-nav__item:hover {
  opacity: 0.7;
}

.underline {
  border-bottom: 2px solid #fdfdfd;
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 720px) {
  .inner-nav__item {
    margin: 0;
  }
}

@media only screen and (max-width: 580px) {
  .logo {
    margin-left: 1em;
  }

  .inner-nav__item {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 510px) {
  .inner-nav__item {
    font-size: 1rem;
    padding: 0 0.5em;
  }

  .underline {
    padding-bottom: 0.2em;
  }
}

@media only screen and (max-width: 410px) {
  nav {
    flex-direction: column;
    padding-left: 0.5em;
  }

  .logo {
    margin-bottom: 0.5em;
  }
}

/* Header */
header {
  text-align: center;
  padding: 6em 0 4em 0;
  background-color: #003459;
}

/* Sections */
section {
  text-align: center;
  background-color: #003459;
  padding: 2em 0;
}

.mission-content,
.members-content {
  max-width: 900px;
  margin: auto;
}

/* Misison Section */
.section-mission {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #003459;
  padding-bottom: 6em;
}

.mission-content {
  margin: auto;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Members */
.section-members {
  background-color: #fdfdfd;
  color: #003459;
  padding: 3em;
}

.title-members {
  margin-bottom: 2em;
}

.members-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}

.member-item {
  width: 38%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1.5em 2em;
  padding: 1.5em;
  border: 0.5px solid #003459;
  background: hsl(205, 100%, 98%);
}

.member-item hr {
  margin: 0.5em 0;
}

@media only screen and (max-width: 800px) {
  .member-item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .section-members {
    padding: 2em 0 0 0;
  }

  .members-content {
    padding: 0;
  }
}

.bold {
  font-weight: 600;
}

footer {
  text-align: center;
  background-color: #00171f;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
  padding: 2em;
}
