* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgba(0,126,167,1) 0%, rgba(2,116,153,1) 1%, rgba(4,102,134,1) 3%, rgba(2,87,121,1) 9%, rgba(0,65,103,1) 40%, rgba(0,59,96,1) 60%, rgba(0,52,89,1) 100%);
  color: #fdfdfd;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fdfdfd;
}

.section-mission {
  margin-top: 6em;
}

section {
  text-align: center;
  background-color: #003459;
  margin: 3em auto;
  max-width: 900px;
  padding: 2em 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.list-started {
  list-style-position: inside;
  margin: 1em auto 0 auto;
}

@media only screen and (max-width: 900px) {
  section {
    margin: 2em 1em;
  }
}

.logo {
  width: 70px;
  height: 70px;
  margin-left: 2em;
  padding: 0.2em;
  background-color: #007ea7;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #00171f;
  padding: 1em;
  top: 0;
  width: 100%;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
}

.inner-nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.inner-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-nav__item {
  padding: 0 1em;
  margin: 0 1em;
  position: relative;
}

.inner-nav__item:hover {
  opacity: 0.7;
}

.underline {
  border-bottom: 2px solid #fdfdfd;
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 720px) {
  .inner-nav__item {
    margin: 0;
  }
}

@media only screen and (max-width: 580px) {
  .logo {
    margin-left: 1em;
  }

  .inner-nav__item {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 510px) {
  .inner-nav__item {
    font-size: 1rem;
    padding: 0 0.5em;
  }

  .underline {
    padding-bottom: 0.2em;
  }
}

@media only screen and (max-width: 410px) {
  nav {
    flex-direction: column;
    padding-left: 0.5em;
  }

  .logo {
    margin-bottom: 0.5em;
  }
}

.list-members {
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
}

.content-mission {
  margin: 2em;
}

.content-contact {
  margin: 1em;
}

header {
  margin: 4em 0;
  text-align: center;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding-bottom: 0.4em;
  letter-spacing: 10px;
  text-shadow: 1px 1px 3px #000000;
}

.title::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fdfdfd;
}

footer {
  text-align: center;
  background-color: #00171f;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
  padding: 2em;
  margin-top: 7em;
}
