* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #003459;
  color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fdfdfd;
}

ul {
  list-style-position: inside;
}

.logo {
  width: 70px;
  margin-left: 2em;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #00171f;
  padding: 1em;
  top: 0;
  width: 100%;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
}

.inner-nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.inner-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-nav__item {
  padding: 0 1em;
  margin: 0 1em;
  position: relative;
}

.inner-nav__item:hover {
  opacity: 0.7;
}

.underline {
  border-bottom: 2px solid #fdfdfd;
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 720px) {
  .inner-nav__item {
    margin: 0;
  }
}

@media only screen and (max-width: 580px) {
  .logo {
    margin-left: 1em;
  }

  .inner-nav__item {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 510px) {
  .inner-nav__item {
    font-size: 1rem;
    padding: 0 0.5em;
  }

  .underline {
    padding-bottom: 0.2em;
  }
}

@media only screen and (max-width: 410px) {
  nav {
    flex-direction: column;
    padding-left: 0.5em;
  }

  .logo {
    margin-bottom: 0.5em;
  }
}

/* Header */
header {
  text-align: center;
  padding: 6em 0 2em 0;
  background-color: #003459;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-bottom: 0.4em;
  letter-spacing: 10px;
  text-shadow: 1px 1px 3px #000000;
}

.title::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fdfdfd;
}

@media only screen and (max-width: 530px) {
  .title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  .title {
    font-size: 1.7rem;
  }
}

/* Documentation Section */
.section-wrapper {
  text-align: center;
  background-color: #fdfdfd;
  color: #003459;
  margin: 3em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}

.documentation {
  padding: 2em 4em;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .section-wrapper {
    margin: 1em;
  }

  .documentation {
    padding: 1em 2em;
  }
}

.documentation a {
  color: #007ea7;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

h2,
h4 {
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 0.5em;
}

hr {
  margin: 2em 0;
}

.target-browsers p,
.dependencies p,
.api p {
  margin: 1em 0;
}

/* Thanks StackOverflow: https://stackoverflow.com/questions/4000792/how-can-i-style-code-listings-using-css/48694906 */
pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #007ea7;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  width: 100%;
}

.bold {
  font-weight: 600;
}

footer {
  text-align: center;
  background-color: #00171f;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
  padding: 2em;
  margin-top: 7em;
}
