/* Color Palette 
https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8
*/

/* ==== General Styling ====
   ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #007ea7;
  color: #fff;
  font-family: "Raleway", sans-serif;
  z-index: -9;
  position: relative;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

/* ========== Nav ==========
   ========================= */

.logo {
  width: 70px;
  margin-left: 2em;
  /* padding: 0.2em; */
  /* border-radius: 4px; */
  /* background-color: #007ea7; */
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #00171f;
  padding: 1em;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
}

.inner-nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.inner-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-nav__item {
  padding: 0 1em;
  margin: 0 1em;
  position: relative;
}

.inner-nav__item:hover {
  opacity: 0.7;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 720px) {
  .inner-nav__item {
    margin: 0;
  }
}

@media only screen and (max-width: 580px) {
  .logo {
    margin-left: 1em;
  }

  .inner-nav__item {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 510px) {
  .inner-nav__item {
    font-size: 1rem;
    padding: 0 0.5em;
  }

  .underline {
    padding-bottom: 0.2em;
  }
}

@media only screen and (max-width: 410px) {
  nav {
    flex-direction: column;
    padding-left: 0.5em;
  }

  .logo {
    margin-bottom: 0.5em;
  }
}

/* ======== Header =========
   ========================= */

header {
  text-align: center;
  padding: 6em 0 13em 0;
  background: url(../images/roads.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  height: 80vh;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.6026785714285714) 100%);
}

.title {
  font-family: 'Oswald', sans-serif;
  /* font-weight: 700; */
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding-bottom: 0.4em;
  letter-spacing: 10px;
  text-shadow: 1px 1px 3px #000000;
}

.subtitle {
  font-size: 2.5rem;
  position: relative;
  padding-top: 0.3em;
  letter-spacing: 10px;
  color: rgb(155, 155, 155);
}

.title::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

@media only screen and (max-width: 702px) {
  .title::after {
    width: 60%;
    left: 20%;
  }
}

/* ======= Sections ========
   ========================= */

section {
  text-align: center;
  background-color: #003459;
  margin: 2em auto;
  padding: 2em 0;
  border-radius: 10px;
  max-width: 1000px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 900px) {
  section {
    margin: 2em 1em;
  }
}

/* ======= Filter Section ========
   ========================= */

.section-filter {
  margin-bottom: -5em;
  margin-top: -6em;
  z-index: 0;
  box-shadow: 0px -1px 30px 6px #000000;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

.inner-form-container {
  display: flex;
  justify-content: center;
  justify-items: baseline;
  margin-top: 1.5em;
}

label {
  font-size: 2rem;
}

select {
  width: 300px;
  height: 40px;
  font-size: 1.2rem;
  padding-left: 0.3em;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.2em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select:hover {
  border-color: #888;
}

@media only screen and (max-width: 900px) {
  .section-filter {
    padding: 1em;
    margin-bottom: -5em;
    margin-top: -6em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  label {
    font-size: 1.5rem;
  }

  select {
    width: 200px;
    height: 40px;
    font-size: 1rem;
  }
}

/* Resets button default styling */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* Styles button from scratch */
.btn {
  display: inline-block;
  border: solid 1px transparent;
  border-radius: 4px;
  margin-left: 0.5em;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #007ea7;
}

.btn:hover {
  opacity: 0.7;
}

/* ========== Map ==========
   ========================= */

#map {
  height: 90vh;
}

.section-map {
  padding: 0;
  border: 2px solid #003459;
  z-index: 999;
}

.section-map-wrapper {
  background-color: #000;
  padding: 6em 0 2em 0;
  margin-bottom: 6em;
  z-index: -1;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .section-map {
    margin: 2em 0;
  }
}

@media only screen and (max-width: 650px) {
  .section-map-wrapper {
    margin-bottom: 3em;
  }
}

/* ======= Stats Section ========
   ========================= */

.summary-title {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1.2em;
  position: relative;
  text-align: center;
}

.summary-title::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 3px;
  width: 80%;
  background-color: #fff;
}

.summary {
  text-align: left;
  width: 80%;
  margin: 2em auto;
}

.summary-list {
  list-style-type: none;
  margin: 2em auto;
}

.summary-list li {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

@media only screen and (max-width: 450px) {
  .summary-title {
    font-size: 1.5rem;
  }

  .summary {
    font-size: 1rem;
  }
}

/* ======== Footer =========
   ========================= */

footer {
  text-align: center;
  background-color: #00171f;
  border-top: 2px solid #003459;
  border-bottom: 2px solid #003459;
  padding: 2em;
  margin-top: 7em;
}

footer h2 {
  margin-bottom: 1em;
}

@media only screen and (max-width: 650px) {
  footer {
    margin-top: 3em;
  }
}
